body {
  padding: 0px;
  font: 14px "Roboto", sans-serif;
  line-height: 1.42857143;
  margin: 0;
}

a {
  color: #00B6FF;
}


 
g#0 {
  display:none !important;
}


.hiddenText {
  display: none;
}

.questionText {
  font-weight: 200;
  font-size: 14px;
  vertical-align: middle;
}


.input-group {
  max-width:800px;
}

.no-wrap {
  white-space:nowrap;
}


#personalInformation {
  position: absolute;
  display: none;
}

#relationships, #relationships2, #relationships3, #relationships4 {
  position: absolute;
  display: none;
  margin: 50px;
  padding: 50px;
}


.slideText,
.slideTextAlt,
.slideTextAlt1,
.slideTextAlt2 {
  font-weight: 200;
  font-size: 16px;  
}



.slider {
  width:400px;
}

.slider-label {
  text-align:center;
}

.slider-left {
  float:left;
}

.slider-right {
  float:right;
}

.d3-slider-handle {
  background: linear-gradient(to bottom, #CCC 0%, #DDD 100%) repeat scroll 0% 0% transparent !important;
}

.degrees {
  font-family: 'monospace';
}

#timeBar {
  z-index: 10;
}

.backdrop {
  fill: #E6E6E6;
  stroke: #999;
  stroke-width: 1px;
  opacity: .7;
}

#qbox {
  position: absolute;
}

.q_window {
  stroke: #999;
  stroke-width: 2px;
  fill: none;
  z-index: 100;
}



#nonresponse_box, #warning_box_link_not_allowed, #warning_box_link_not_allowed_1 {
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.25);
}

#popup, #popup_linking_not_allowed , #popup_linking_not_allowed_1 {
  display: none;
  background: #fff;
  padding: 1%;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 50%;
  margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

#onlyone_box {
  display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.25);
}





#alterPopup {
  display: none;
  background: #fff;
  padding: 1%;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 50%;
  margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

#reminderPopup {
  display: none;
  background: #fff;
  padding: 1%;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 50%;
  margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

#dragPopup {
  display: none;
  background: #fff;
  padding: 1%;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 50%;
  margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
  cursor: default;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
}


.close-btn {
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }
    .close-btn:hover {
      background: #05abe0;
    }


.popup_text {
  color: red;
  font-weight: bold;
}



#Next:disabled {
  opacity:.33;
}

#nextFloor:disabled {
  opacity:.33;
}

#Back:disabled {
  opacity:.33;
}

#submitForm {
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  display:none
}

#submitForm form {
  height:100%;
}

#submitForm input.btn {
  position: absolute;
  top: 480px;
  left: 90%;
}



label{
  font-size: 16px
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  padding-right: 0px;
  padding-top: 0px;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.custom-menu1 {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #ddebfe;
  color: #333;
  border-radius: 5px;
  padding-right: 15px;
  padding-top: 15px;
  padding-left: 15px;
}

.custom-menu1 ul{height:300px;}
.custom-menu1 ul{overflow:hidden; overflow-y:scroll;}

#menuFirstItem {
  color: white;
  background: #082128;
  opacity: 0.65;
}

#menuSecondItem {
  color: #d8faff;
  background: #0a4755;
  opacity: 0.65;
}

#menuThirdItem {
  color: #c0c7d6;
  background: #0b748c;
  opacity: 0.65;
}

#menuFourthItem {
  background: #07a3c5;
  opacity: 0.65;
}

#menuFifthItem {
  background: none;
}






#UseOfSpace{
  position:absolute;
  display:none;
}

/*Use of space 2 part*/
.map1, .map2, .map3{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-repeat: no-repeat;

}

#UseOfSpace2{
  position:absolute;
  top: 0px;
  left:0px;
  right:0px;
  text-align: center;
  max-width: 100%;
  display:none;
}

#floorA1{
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
  top: 150px;
  bottom: 150px;
}

#A1Floor{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#floorR1{
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
  top: 150px;
  bottom: 150px;
  display: none;
}

#R1Floor{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#floorR2{
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
  top: 150px;
  bottom: 150px;
  display: none;
}

#R2Floor{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


#ChangeFloorR1{
  position: absolute;
  top: 10px;
  right: 10px;
}

#ChangeFloorR2{
  position: absolute;
  top: 10px;
  right: 10px;
}

#ChangeFloorA1{
  position: absolute;
  top: 10px;
  right: 10px;
}

/*====================================*/


/*Use of space 3 part*/
.UOP3_map1, .UOP3_map2, .UOP3_map3, .WLW_map1, .WLW_map2, .WLW_map3{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background-repeat: no-repeat;

}

#UseOfSpace3, #WLW_Space{
  position:absolute;
  top: 0px;
  left:0px;
  right:0px;
  text-align: center;
  max-width: 100%;
  display:none;
}

#UOP3_floorA1, #WLW_floorA1{
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
  top: 150px;
  bottom: 150px;
}

#UOP3_A1Floor, #WLW_A1Floor{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#UOP3_floorR1, #WLW_floorR1{
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
  top: 150px;
  bottom: 150px;
  display: none;
}

#UOP3_R1Floor, #WLW_R1Floor{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#UOP3_floorR2, #WLW_floorR2{
  position: relative;
  margin: auto;
  max-width: 70%;
  text-align: center;
  top: 150px;
  bottom: 150px;
  display: none;
}

#UOP3_R2Floor, #WLW_R2Floor{
  position: absolute;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


#UOP3_ChangeFloorR1, #WLW_ChangeFloorR1{
  position: absolute;
  top: 10px;
  right: 10px;
}

#UOP3_ChangeFloorR2, #WLW_ChangeFloorR2{
  position: absolute;
  top: 10px;
  right: 10px;
}

#UOP3_ChangeFloorA1, #WLW_ChangeFloorA1{
  position: absolute;
  top: 10px;
  right: 10px;
}

/*====================================*/





/*Network part*/
#network{
  position: absolute;
  top:40px;
  bottom: 80px;
  left:0;
  right:0;
  text-align: center;
  display:none;
}

#chart{
  position: absolute;
  top:180px;
  bottom: 0;
  margin: auto;
}

.node {
  fill: #00c700;
  cursor: crosshair;
  position: relative;
  opacity: 0.6;
  z-index: 3;
}

.nodelabel {
  position: relative;
  z-index: 99;
}


.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
  position: relative;
  z-index: 3;
}

.drag_line {
  stroke: #999;
  stroke-width: 3;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.link {
  stroke: #999;
  stroke-width: 3;
  cursor: crosshair;
  position: relative;
  opacity: 0.6;
  z-index: 1;
}

.link_selected {
  stroke: #ff7f0e;
}


#add_node_to_net{
  position: absolute;
  top: 20px;
  left: 20px;
}
/*====================================*/





/*Tabel decoration*/
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
  border-radius: 10px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .responsive-table-input-matrix {
    display: block;
    position: relative;
    width: 100%;

    &:after {
      clear: both;
      content: '';
      display: block;
      font-size: 0;
      height: 0;
      visibility: hidden;
    }

    tbody {
      display: block;
      overflow-x: auto;
      position: relative;
      white-space: nowrap;
      width: auto;


      tr {
        display: inline-block;
        vertical-align: top;

        td {
          display: block;
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }
      }
    }

    thead {
      display: block;
      float: left;
      margin-right: 10px;

      &:after {
        clear: both;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
      }

      th:first-of-type {
        height: 1.4em;
      }

      th {
        display: block;
        text-align: right;

        &:first-child {
          text-align: right;
        }
      }
    }
  }
}

/*==============================================*/

/*=============Top Bar style========================*/

.progress{
  position:fixed;
  left:20px;
  right:20px;
  top: 10px;
  z-index: 9999;

}
/*==============================================*/

/*==================Next-Back-Submit-Button============================*/


#nextDiv{
  position: absolute;
  display: block;
  margin: 30px;
}

#previousDiv {
  position: absolute;
  display: block;
  margin: 30px;
}

#finalSubmitButton{
  position: absolute;
  display: none;
  margin: 30px;
}

/*==============================================*/


#slide8{
  display: none;
  position: absolute;
  top:40%;
  left:0;
  right:0;
  bottom:30%;
}

#slide9{
  display: none;
  position: absolute;
  top:40%;
  left:0;
  right:0;
  bottom:30%;
}


.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
